<ts-busy tracker="bundleLintTracker">
    <h3 class="subtitle">Technical Competency</h3>
    <button ng-click="toggleView()" class="cards-grid-toggle tech-btn" uib-tooltip="{{!cardsView ? 'List view' : 'Cards view'}}" tooltip-placement="left">
        <i class="fa fa-th" ng-class="{'fa-th': !cardsView, 'fa-list': cardsView}"></i>
    </button>
   <div id="gridBundleLints" ui-grid="gridBundleLintsOptions" ui-grid-exporter ui-grid-pagination ui-grid-height ts-materialize-grid  ui-grid-cards="tech-competency" class="myGrid"></div>
</ts-busy>