.filter {
  margin-bottom: 20px;
  margin-top: -40px;
  width: 300px;
  padding: 0 10px;
  float: right;
 }

 .filters-container {
	 display: inline-block;
 }

 @media only screen and (max-width: @grid-float-breakpoint) {	
 	.filter {
 		float: none;
 		border: #BBBBBB 1px solid;
 		width: 100%;
 		height: 40px;
 	}
 }

.cards-grid-toggle {
	background-color: transparent;
  border: transparent;
  padding: 3px 6px;
	position: relative;
  top: 5px;

	&.collapsed {
		position: absolute;
    top: -24px;
    //right: 0;
	}

	&:hover {
		color: @apigee-orange;
	}
}

.page-header {
	.cards-grid-toggle {
		color: white;
	}
}

div.accountListGrid {
	// width: 500px;
	width: 100%;
  height: 600px;
}

.grid-center {
	text-align: center;
}

.hidden-list {
	position: absolute;
	left: -50000px;
}

.columns-dropdown {
	display: inline-block;
	position: relative;
	top: 5px;

	& > span {
  	font-family: @primary-font;
  	font-size: 12px;
  	font-weight: 500;
  	color: white;
		cursor: pointer;

		&:focus {
			outline: none;
		}
	}

	.grid-columns-dropdown {
		width: 193px;
		left: -22px;
    top: 28px;
		z-index: 2;
		position: absolute;
  	background-color: #ffffff;
  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  	border: solid 1px #d9d9d9;
		padding-top: 12px;
  	padding-bottom: 9px;

		ul {
			list-style: none;
			padding-left: 0;

			li {
				font-family: @secondary-font;
				cursor: pointer;
				padding: 2px 15px;
				font-size: 12px;
  			font-weight: 500;  
  			color: #b1b1b1;

				i {
					display: inline-block;
					width: 18px;
  				height: 18px;
					border: 2px solid #d3d3d3;
					border-radius: 3px;
					position: relative;
    			top: 5px;
    			margin-right: 9px;

					&.active {
						border: 2px solid #33c4df;
						background-color: #33c4df;

						&::after {
							font-family: FontAwesome;
							content: '\f00c';
							color: white;
							position: absolute;
    					top: -1px;
						}
					}
				}
			}
		}
	}
}

#export-compact-menu {
	display: none;
	position: absolute;
	right: 111px;

	.floated-menu { width: 100px; }
}
