.flex-container {

  @media @desktop {
    display: flex;
    flex-direction: row;

    &.flex-column {
      flex-direction: column;
    }

    .flex-1-5 {
      flex: 1.5;
    }
  }
}

.full-height {
  height: 100%;
  min-height: 100%;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}
