// Media query variables. Usage: @media @sm-and-up { ... } or @media @tablet, @desktop { ... }
// Media query names like Bootstrap
@xs-and-up: ~"only screen"; // xs is the smallest size, so "xs and up" is basically "everything on a screen"
@xs-only: ~"only screen and (max-width: @{screen-xs-max})";
@sm-and-up: ~"only screen and (min-width: @{screen-sm-min})";
@sm-only: ~"only screen and (min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";
@md-and-up: ~"only screen and (min-width: @{screen-md-min})";
@md-only: ~"only screen and (min-width: @{screen-md-min}) and (max-width: @{screen-md-max})";
@lg-and-up: ~"only screen and (min-width: @{screen-lg-min})";
@lg-only: @lg-and-up;
// Media query names like how we talk in the project (although "true" responsive webdesign shouldn't use these terms)
@print: ~"print";
@mobile: @xs-and-up; // Don't use this if you're using other sizes too, because Mobile First should be the default.
@mobile-only: @xs-only;
@tablet: @sm-and-up;
@tablet-only: @sm-only;
@desktop: @md-and-up;
@desktop-only: @md-only;
@large: @lg-and-up;
