.kb-badge {
	width: 8px;
	height: 8px;
	border-radius: 100px;
	display: inline-block;

	&.traffic { background-color: #FF322D; }
	&.users { background-color: #4790E8; }
	// &.other { background-color: #43E885; }
	// &.other-one { background-color: #FFE95F; }
}

.kb-badge-popover {
  min-width: 150px;
  max-width: 150px;
  font-family: Roboto, 'sans-serif';
  font-size: 12px;
  border-radius: 3px;
  color: #999;
  border-color: #999;
  z-index: 3;

  div.arrow {
    border-bottom-color: #999 !important;

    &::after {
      border-bottom-color: white !important;
    }
  }
}