
hr {
	margin: 40px 0;
	border-top: #BBBBBB 1px solid;
}

h2.traffic, h2.categories, h2.organizations {
	margin-top: 0px;
}

table.widget th {
	background-color: green;
	color: white;
}

label.account-plan-plan {
	width: 100%;
}

textarea.account-plan-plan {
	width: 90%;
	height: 250px;
}

.entitlement-table {
	tbody > tr:nth-of-type(odd) {
		background-color: white;
	}

	tbody {
		tr {
			&:hover {
				background-color: #f5f5f6;
			}

			td {
				font-family: @primary-font;
				color: #999;
				font-size: 12px;

				&:nth-child(2) {
				 border-right: 1px solid #d9d9d9;
			 	}

				&:nth-child(1), &:nth-child(3) {
  				font-family: @secondary-font;
  				font-size: 12px;
  				font-weight: bold;
  				color: #1e2229;
			 	}
			}
		}
	}
}