<style>
  body { font: 12px Arial;}

  path {
    stroke: #d3d3d3;
    stroke-width: 1;
    fill: none;
  }

  /*.axis path,
  .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }*/

  div.tooltip {
    background: rgba(0, 0, 0, .8);
    border: 0px;
    border-radius: 8px;
    font-family: Roboto;
    font-size: 12px;
    color: #ffffff;
    height: 28px;
    line-height: 28px;
    padding: 2px;
    position: absolute;
    pointer-events: none;
    text-align: center;
    width: 60px;
  }

  div.tooltip:after {
    content: '';
    display: block;
    height: 0;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 8px solid rgba(0, 0, 0, .8);
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translate(-8px, 0);
    width: 0;
  }
</style>
<div class="line-chart-tooltips"></div>
