ts-notification {
  .notificationContainer {
    margin-top: 50px;
  }

  .notification {
    border: #707372 1px solid;
    border-radius: 3px;
    padding: 7px 10px;
    background-color: #FAFAFA;
    width: 95%;
    max-width: 750px;     
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;  

    p {
      margin: 5px;
    } 

    .default {
      min-height: 30px;       

      h4 {
        margin-top: 5px;
        margin-bottom: 10px;
        font-weight: 300;
        font-size: 16px;
        float: left;
      }

      .toggleBtn {
        float: right;
        min-width: 120px;
        border-radius: 3px;
        padding: 3px 7px;
        text-align: center;
      }
    }

    .collapse {

    }

    .warning {
      color: #FFA100;   
    }

    .info {
      color: #00529B;   
    }

    .warning, .info {
      float: left;
      margin-right: 5px; 
      font-size: 28px;
    }
    
  }

  @media only screen and (max-width: @grid-float-breakpoint) {  
    .notification {
      width: 100%;
      margin-left: 0px;
      padding: 5px; 
      .default > h4 {
        margin-top: 2px;
      }
      .warning, .info {
        font-size: 24px;
        margin-right: 2px;        
      }
      .toggleBtn {
        float: right;
      }
    }
  } 
}