.bubble {
	width: 12px;
	height: 12px;
	border-radius: 100px;
	background-color: #dadada;
	float: left;
	margin-right: 10px;
	position: relative;

	.bubble-inner {
		width: 8px;
		height: 8px;
		position: absolute;
		top: 2px;
		left: 2px;
		background-color: white;
		border-radius: 100px;
		z-index: 1;
	}

	&:last-child {
		&::after {
			content: none;
		}
	}

	&::after {
		content: "";
		display: block;
		height: 4px;
		width: 20px;
		background-color: #dadada;
		position: relative;
		right: -77%;
		top: 4px;
	}
}