<div id="details-container" ng-class="getContentSize()">

    <!--<ts-busy tracker="customerTracker">
        <div class="page-header row">
            <div class="content">
                <a class="back-link" ui-sref="customers" data-target="#">Account Selection</a>
                <!--<h1> -> <a href="/#!/customers/{{account.id}}/overview">{{ account.account_name }}</a></h1>-->
                <!--<h1>{{account.account_name}}</h1>
            </div>-->

            <!--<div class="content">
                <div class="col-md-12 header-tabs">
                    <uib-tabset>
                        <uib-tab ui-sref-active="active" ui-sref="customers.detail.overview" heading="Account Plan" id='overviewTab'></uib-tab>
                        <uib-tab ui-sref-active="active" ui-sref="customers.detail.magellan" heading="Magellan"></uib-tab>
                        <uib-tab ui-sref-active="active" ui-sref="customers.detail.expansion-rating" heading="Expansion Score"></uib-tab>
                        <uib-tab ui-sref-active="active" ui-sref="customers.detail.technical-competency" heading="Technical Competency"></uib-tab>
                    </uib-tabset>
                </div>
            </div>
            -->
        <!--</div>
    </ts-busy>-->

    <div id="details-content" ng-class="getContentSize()">
        <div class="flexed-contents">
            <ts-sidebar ng-title="{{account.account_name}}" options="detail.sidebarOptions"></ts-sidebar>
            <div class="grow-content">
                <div class="col-md-4">
                    <ts-busy tracker="customerTracker">
                        <!--<h3 class="grid-header" role="button">Quick Info<span class="pull-right">:</span></h3>-->
                        <h3 class="subtitle">Quick Info</h3>
                        <div id="gridStats" ui-grid="gridStatsOptions" ui-grid-exporter ui-grid-pagination ui-grid-height ts-materialize-grid class="myGrid quickInfoGrid"></div>
                    </ts-busy>
                </div>
                <div class="col-md-8">
                    <ui-view></ui-view>
                </div>

                <footer class="footer col-md-12">
                    <div class="footer-background-container container-fluid">
                        <div class="row footer-copyright">
                            Copyright &copy; {{currentYear}} Apigee Corp. All rights reserved
                        </div>
                    </div>
                    <div class="foot-spacer"></div>
                </footer>
            </div>
        </div>

    </div>

</div>