ts-priority {
  display: inline-block;

  > div {
    .label-default;
  }
}


.tsPriority-critical {
  .label-danger;
}

.tsPriority-high {
  .label-warning;
}

.tsPriority-medium {
  .label-variant(@apigee-light-blue);
}

.tsPriority-low {
  .label-variant(@apigee-purple);
}
