<div ng-class="{ok: 'tsEntitlementstatus-ok', warning: 'tsEntitlementstatus-warning', danger: 'tsEntitlementstatus-danger'}[statusType]" data-toggle="tooltip" title="{{ tooltip }}">
    <span>{{ status }}</span>
</div>
